
@{
    ViewBag.Title = "Boys";
}

<h1>Boys</h1>
<h2>16</h2>
<p>There are many boys in this class</p>
<a asp-area="default" asp-controller="Home" asp-action="Index" class="btn-group-lg btn-link align-bottom">Go Back Home</a>