
@{
    ViewBag.Title = "Girls";
}

<h1>Girls</h1>
<h2>2</h2>
<p> There are only two girls in this class</p>
<a asp-area="default" asp-controller="Home" asp-action="Index" class="btn-group-lg btn-link align-bottom">Go Back Home</a>